openapi: "3.0.0"
info:
  version: "2023.8.2"
  title: "GovStack Consent BB APIs"
  description: >
    The Consent Building Block enables services for individuals to approve the use 
    of their personal data by defining the principles, functions, and architecture 
    of an information system. For organisations that process personal data, it 
    provides the ability to know the individual's will and legitimately process such 
    personal data. The Consent Building Block is a process-oriented GovStack Building Block 
    facilitating auditable bilateral agreements within a multi-agent environment that 
    integrates with most other Building Blocks.
  contact:
    email: support@igrant.io
    name: iGrant.io
    url: https://igrant.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api.bb-consent.dev/
    description: Development server
  - url: https://staging-consent-bb-api.igrant.io/
    description: Staging server
  - url: https://demo-consent-bb-api.igrant.io/
    description: Demo server
tags:
  - name: audit
    x-tag-expanded: false
    description: >
      These API(s) allow managing and viewing the consents and their audit trails. The audit trails 
      of consent management are vital to individuals and organisations in case of disputes or for 
      other reasons where it is necessary to ascertain a transaction's validity.
  - name: config
    x-tag-expanded: false
    description: >
      The Organisational API(s) allow administrators to configure consent-related aspects 
      from an organisational perspective. The notification APIs using webhooks are also part 
      of this category. E.g. These are used for notifications and callbacks to organisation's 
      IT systems. The administrators configure these, and the notifications may be towards the 
      organisation's IT system or towards individual users.
  - name: service
    x-tag-expanded: false
    description: >
      These API(s) sets allow individual users to view and manage their consent-related information about their organisation.
  - name: onboard
    x-tag-expanded: false
    description: >
      These are used for onboard the organisation, organisation admin and individual users to the system. 
      It also deals with all authentication and authorisation APIs that can be configured towards external IDPs.
paths:
  # Audit
  /v1/audit/admin/logs:
    $ref: "./paths/audit/getAdminLogs.yaml"

  # Service
  /v1/users/{userId}/consenthistory:
    $ref: "./paths/service/getConsentHistory.yaml"
  /v1/organisations/{orgId}/users/{userId}/consents/{consentId}/data-agreements/{dataAgreementId}:
    $ref: "./paths/service/getConsentsByConsentAgreementId.yaml"
  /v1/organisations/{orgId}/users/{userId}/consents/{consentId}:
    $ref: "./paths/service/getConsentsForAllConsentAgreements.yaml"
  /v1/organisations/{orgId}/users/{userId}/consents:
    $ref: "./paths/service/getConsents.yaml"
  /v1/organisations/{orgId}/users/{userId}/consents/{consentId}/data-agreements/{dataAgreementId}/status:
    $ref: "./paths/service/updateConsentForConsentAgreement.yaml"
  /v1/organisations/{orgId}/users/{userId}/consents/{consentId}/data-agreements/{dataAgreementId}/attributes/{attributeId}:
    $ref: "./paths/service/updateConsentForDataAttribute.yaml"
  /v1/user/organisations/{orgId}/data-status:
    $ref: "./paths/service/listAllDataRequests.yaml"
  /v1/user/organisations/{orgId}/data-delete:
    $ref: "./paths/service/sendAndGetAllDeleteMyDataRequests.yaml"
  /v1/user/organisations/{orgId}/data-delete/status:
    $ref: "./paths/service/getDeleteMyDataRequestStatus.yaml"
  /v1/user/organisations/{orgId}/data-delete/{dataReqId}/cancel:
    $ref: "./paths/service/cancelDeleteMyDataRequest.yaml"
  /v1/user/organisations/{orgId}/data-download:
    $ref: "./paths/service/sendAndGetAllDownloadMyDataRequests.yaml"
  /v1/user/organisations/{orgId}/data-download/status:
    $ref: "./paths/service/getDownloadMyDataRequestStatus.yaml"
  /v1/user/organisations/{orgId}/data-download/{dataReqId}/cancel:
    $ref: "./paths/service/cancelDownloadMyDataRequest.yaml"
  /v1/GetUserOrgsAndConsents:
    $ref: "./paths/service/getUserOrgAndConsent.yaml"

  # Onboard
  /v1/users/admin/login:
    $ref: "./paths/onboard/loginAsOrganisationAdmin.yaml"
  /v1/users/login:
    $ref: "./paths/onboard/loginAsIndividual.yaml"
  /v1.1/users/login:
    $ref: "./paths/onboard/loginAsIndividualV11.yaml"
  /v1/users/validate/email:
    $ref: "./paths/onboard/validateEmail.yaml"
  /v1/users/validate/phone:
    $ref: "./paths/onboard/validatePhone.yaml"
  /v1/users/verify/phone:
    $ref: "./paths/onboard/verifyPhone.yaml"
  /v1/users/verify/otp:
    $ref: "./paths/onboard/verifyOTP.yaml"
  /v1/user/password/reset:
    $ref: "./paths/onboard/resetPassword.yaml"
  /v1/user/password/forgot:
    $ref: "./paths/onboard/forgotPassword.yaml"
  /v1/users/logout:
    $ref: "./paths/onboard/logout.yaml"
  /v1/users/token:
    $ref: "./paths/onboard/refreshToken.yaml"
  /v1/users/register:
    $ref: "./paths/onboard/register.yaml"
  /v1/organisations/types:
    $ref: "./paths/onboard/getAndAddOrganisationTypes.yaml"
  /v1/organisations/types/{typeId}:
    $ref: "./paths/onboard/getDeleteUpdateOrganisationTypeById.yaml"
  /v1/organisations/types/{typeId}/image:
    $ref: "./paths/onboard/getAndUpdateOrganisationTypeImage.yaml"
  /v1/organisations:
    $ref: "./paths/onboard/addOrganisation.yaml"
  /v1/organisations/{orgId}:
    $ref: "./paths/onboard/getAndUpdateOrganisation.yaml"
  /v1/organisations/{orgId}/coverimage:
    $ref: "./paths/onboard/updateOrganisationCoverImage.yaml"
  /v1/organisations/{orgId}/logoimage:
    $ref: "./paths/onboard/updateOrganisationLogoImage.yaml"
  /v1/organisations/{orgId}/image/{imageId}:
    $ref: "./paths/onboard/getOrganisationImageById.yaml"
  /v1/organisations/{orgId}/image/{imageId}/web:
    $ref: "./paths/onboard/getOrganisationImageByIdForWeb.yaml"
  /v1/organisations/{orgId}/eulaURL:
    $ref: "./paths/onboard/updateAndDeleteOrganisationEULAURL.yaml"
  /v1/organisations/{orgId}/admins:
    $ref: "./paths/onboard/addGetDeleteOrganisationAdmin.yaml"
  /v1/organisations/roles:
    $ref: "./paths/onboard/getOrganisationRoles.yaml"
  /v1/users/unregister:
    $ref: "./paths/onboard/unregisterUser.yaml"
  /v1/user/register/android:
    $ref: "./paths/onboard/userClientRegisterAndroid.yaml"
  /v1/user/register/ios:
    $ref: "./paths/onboard/userClientRegisteriOS.yaml"
  /v1/user/image/{imageId}:
    $ref: "./paths/onboard/getAndDeleteUserImageByID.yaml"
  /v1/user/image:
    $ref: "./paths/onboard/updateUserImage.yaml"
  /v1/user:
    $ref: "./paths/onboard/getAndUpdateUserProfile.yaml"
  /v1/user/apikey:
    $ref: "./paths/onboard/getAndCreateAPIKey.yaml"
  /v1/user/apikey/revoke:
    $ref: "./paths/onboard/deleteAPIKey.yaml"
  /v1/organisations/{orgId}/config/policy:
    $ref: "./paths/config/getAndUpdateGlobalPolicyConfiguration.yaml"
  /v1/organisations/{orgId}/data-agreements:
    $ref: "./paths/config/getAndAddConsentAgreements.yaml"
  /v1/organisations/{orgId}/config/data-agreements/{dataAgreementId}:
    $ref: "./paths/config/getDeleteUpdateConsentAgreementByID.yaml"
  /v1/organisations/{orgId}/data-attributes:
    $ref: "./paths/config/getAndAddDataAttributes.yaml"
  /v1/organisations/{orgId}/config/data-agreements/{dataAgreementId}/data-attributes:
    $ref: "./paths/config/deleteMultipleDataAttributes.yaml"
  /v1/organisations/{orgId}/data-attributes/{dataAttributeId}:
    $ref: "./paths/config/getUpdateAndDeleteDataAttributeByID.yaml"
  /v1/organisations/{orgId}/idp/open-id:
    $ref: "./paths/onboard/addGetUpdateAndDeleteIdentityProvider.yaml"
  /v1/organisations/{orgId}/subscription/enable:
    $ref: "./paths/onboard/enableOrganisationForSubscription.yaml"
  /v1/organisations/{orgId}/subscription/disable:
    $ref: "./paths/onboard/disableOrganisationForSubscription.yaml"
  /v1/organisations/{orgId}/subscribe-method:
    $ref: "./paths/onboard/getAndSetSubscriptionMethod.yaml"
  /v1/organisations/subscribe-methods:
    $ref: "./paths/onboard/getAllSubscriptionMethods.yaml"
  /v1/organisations/{orgId}/subscribe-key:
    $ref: "./paths/onboard/getCurrentSubscriptionKey.yaml"
  /v1/organisations/{orgId}/subscribe-key/renew:
    $ref: "./paths/onboard/renewSubscriptionKey.yaml"
  /v1/organisations/{orgId}/users/count:
    $ref: "./paths/onboard/getOrganisationUsersCount.yaml"
  /v1/organisations/{orgId}/subscription:
    $ref: "./paths/onboard/getOrganisationSubscriptionStatus.yaml"
  /v1/organisations/{orgId}/users:
    $ref: "./paths/onboard/addAndGetOrganisationUsers.yaml"
  /v1/organisations/{orgId}/users/{userId}:
    $ref: "./paths/onboard/deleteUserFromOrganisation.yaml"
  /v1/organisations/{orgId}/data-agreements/{dataAgreementId}/attributes/{attributeID}/consented/users:
    $ref: "./paths/onboard/getAllUsersConsentedToDataAttribute.yaml"
  /v1/organisations/{orgId}/data-agreements/{dataAgreementId}/consented/users:
    $ref: "./paths/onboard/getAllUsersConsentedToDataAgreement.yaml"
  /v1/organisations/data-requests:
    $ref: "./paths/onboard/getAvailableDataRequestStatuses.yaml"
  /v1/organisations/{orgId}/data-requests:
    $ref: "./paths/onboard/getOpenAndCloseDataRequests.yaml"
  /v1/organisations/{orgId}/data-requests/{dataReqId}:
    $ref: "./paths/onboard/getAndUpdateDataRequestByID.yaml"

  # Config
  /v1/organisations/webhooks/event-types:
    $ref: "./paths/config/getAvailableWebhookEventTypes.yaml"
  /v1/organisations/webhooks/payload/content-types:
    $ref: "./paths/config/getAvailableWebhookPayloadTypes.yaml"
  /v1/organisations/{orgId}/webhooks:
    $ref: "./paths/config/createAndGetAllWebhooks.yaml"
  /v1/organisations/{orgId}/webhooks/{webhookId}:
    $ref: "./paths/config/getDeleteAndUpdateWebhookByID.yaml"
  /v1/organisations/{orgId}/webhooks/{webhookId}/ping:
    $ref: "./paths/config/pingWebhook.yaml"
  /v1/organisations/{orgId}/webhooks/{webhookId}/delivery:
    $ref: "./paths/config/getRecentWebhookDeliveries.yaml"
  /v1/organisations/{orgId}/webhooks/{webhookId}/delivery/{deliveryId}:
    $ref: "./paths/config/getRecentWebhookDeliveryByID.yaml"
  /v1/organisations/{orgId}/webhooks/{webhookId}/delivery/{deliveryId}/redeliver:
    $ref: "./paths/config/redeliverWebhook.yaml"
components:
  schemas:
    Log:
      $ref: "./definitions/Log.yaml"
    Pagination:
      $ref: "./definitions/Pagination.yaml"
    Error:
      $ref: "./definitions/Error.yaml"
    GetUserConsentHistory:
      $ref: "./definitions/GetUserConsentHistory.yaml"
    ConsentHistory:
      $ref: "./definitions/ConsentHistory.yaml"
    GetConsentsByConsentAgreementId:
      $ref: "./definitions/GetConsentsByConsentAgreementId.yaml"
    GetConsentsForAllConsentAgreements:
      $ref: "./definitions/GetConsentsForAllConsentAgreements.yaml"
    GetConsents:
      $ref: "./definitions/GetConsents.yaml"
    UpdateDataAgreementRecord:
      $ref: "./definitions/UpdateDataAgreementRecord.yaml"
    DataAgreementRecords:
      $ref: "./definitions/DataAgreementRecords.yaml"
    DataAgreementRecord:
      $ref: "./definitions/DataAgreementRecord.yaml"
    DataAgreementRecordRevision:
      $ref: "./definitions/DataAgreementRecordRevision.yaml"
    UpdateConsentForDataAttributeRequest:
      $ref: "./definitions/UpdateConsentForDataAttributeRequest.yaml"
    UpdateConsentForDataAttributeResponse:
      $ref: "./definitions/UpdateConsentForDataAttributeResponse.yaml"
    ListAllDataRequests:
      $ref: "./definitions/ListAllDataRequests.yaml"
    GetAllDeleteMyDataRequests:
      $ref: "./definitions/GetAllDeleteMyDataRequests.yaml"
    GetDeleteMyDataRequestStatus:
      $ref: "./definitions/GetDeleteMyDataRequestStatus.yaml"
    CancelDeleteMyDataRequest:
      $ref: "./definitions/CancelDeleteMyDataRequest.yaml"
    SendDownloadMyDataRequestError:
      $ref: "./definitions/SendDownloadMyDataRequestError.yaml"
    GetAllDownloadMyDataRequests:
      $ref: "./definitions/GetAllDownloadMyDataRequests.yaml"
    GetDownloadMyDataRequestStatus:
      $ref: "./definitions/GetDownloadMyDataRequestStatus.yaml"
    CancelDownloadMyDataRequest:
      $ref: "./definitions/CancelDownloadMyDataRequest.yaml"
    Individual:
      $ref: "./definitions/Individual.yaml"
    Organisation:
      $ref: "./definitions/Organisation.yaml"
    DataAttribute:
      $ref: "./definitions/DataAttribute.yaml"
    DataRequest:
      $ref: "./definitions/DataRequest.yaml"
    DataAgreement:
      $ref: "./definitions/DataAgreement.yaml"
    GlobalDataPolicyConfiguration:
      $ref: "./definitions/GlobalDataPolicyConfiguration.yaml"
    Signature:
      $ref: "./definitions/Signature.yaml"
  securitySchemes:
    BearerAuth:
      description: Access token passed with Bearer prefix in Authorization header
      type: http
      scheme: bearer
      bearerFormat: JWT
