description: CREATE - Create a new data attribute and returned together with revision
operationId: configCreateDataAttribute
parameters: []
requestBody:
  content:
    application/json:
      schema:
        properties:
          dataAttribute:
            $ref: ../definitions/DataAttribute.yaml
            description: An object of type DataAttribute
        required:
          - dataAttribute
        type: object
responses:
  "200":
    content:
      application/json:
        schema:
          type: object
          properties:
            dataAttribute:
              $ref: ../definitions/DataAttribute.yaml
            revision:
              $ref: ../definitions/Revision.yaml
    description: ""
  "400":
    description: bad input parameter
security:
  - BearerAuth: []
summary: CREATE - Create data attribute
tags:
  - config
x-specification-crudl-model: DataAttribute
x-specification-pii-or-sensitive: "False"
x-specification-scenario: ""
x-specification-usecase: UC-C-PIC-A-001
