description: LIST - Fetch all data agreements matching the data agreement filter
operationId: configListAgreementFilter
parameters:
- description: Requested index for start of resources to be provided in response requested
    by client
  in: query
  name: offset
  required: false
  schema:
    type: integer
- description: Requested number of resources to be provided in response requested
    by client
  in: query
  name: limit
  required: false
  schema:
    type: integer
requestBody:
  content:
    application/json:
      schema:
        properties:
          agreementFilter:
            $ref: ../definitions/AgreementFilter.yaml
            description: An object of type AgreementFilter
        required:
        - agreementFilter
        type: object
responses:
  '200':
    content:
      application/json:
        schema:
          items:
            oneOf:
            - $ref: ../definitions/DataAgreement.yaml
          type: array
    description: ''
  '400':
    description: bad input parameter
security:
  - BearerAuth: []
summary: LIST - Fetch all data agreements matching the data agreement filter
tags:
- config
x-specification-crudl-model: DataAgreement
x-specification-pii-or-sensitive: 'False'
x-specification-scenario: ''
x-specification-usecase: UC-C-PIC-A-003
